        <div class="row form-group">
            Check your profile here if have. 
        </div>
        <div class="row form-group">
            <a type="button" class="btn btn-secondary" href="/mycards">Check My Cards</a>
            <a type="button" class="btn btn-secondary" href="/login/off">Log Off</a>
        </div>        