
        <div class="form-group">
            <label>Your Cards Balance: ${{balance}} </label>
        </div>

       <button type="submit" class="btn btn-primary" onclick="location.href='/addcard';">Add Card</button>
