<div class="form-group">
<div class="row">
    <div class="center-text">
      <h3>Order Completed! Go pick up your coffee!</h3>
     
      <br/>
      <a href="/order/history"><h3>Check your order history here</h3>
      
    </div>
</div>
</div>