<div class="form-group">
	<div class="row">
		<div class="col-md-12 col-sm-12">
		 <button type="button" class="btn btn-secondary" onclick="location.href='/products'">More Drinks</button>
		</div>
		<div class="col-md-2 col-sm-12">
			<b><h3>{{product}}</h3></b>
			<p class="text-muted">{{description}}</p>
			<label> You already paid. Enjoy it. </label>
			<br/>
		</div>
		<div class="col-md-2 col-sm-12" align="center">
			<a href="#order"> <img src="/images/menu{{productId}}.png" width="400" /></a>
		</div>

	</div>
</div>