    <form id="Login" class="col-md-4 col-sm-12" method="post" action="/addcard">

        <div class="form-group">
            <input type="text" class="form-control" id="cardnumber" placeholder="card number">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="cardcode" placeholder="card verfication code">
        </div>
       <button type="submit" class="btn btn-primary">Add Card</button>
       <button type="button" class="btn btn-secondary" onclick="location.href='/mycards'">Back to My Cards</button>
    </form>
    